In [1]:
#Import dependencies
import pandas as pd

In [2]:
#Import csv file
df = pd.read_csv("Resources/listings.csv")
master_df = pd.DataFrame(df)
master_df["id"].count()

4984

In [5]:
#See how many reviews we lose when we look at only those greater than 5 review-we felt this was too many to lose
master_df.loc[df['number_of_reviews']>5]["id"].count()

3404

In [6]:
#We decided to use reviews greater than 1 because it got rid of properties with no reviews,
#but it gave us a large enough dataset for analysis
master_df.loc[df['number_of_reviews']>1]["id"].count()

4084

In [7]:
#We noticed there were more listings than counts of reviews so we dropped null reviews 
master_df = master_df.loc[df['number_of_reviews']>1]
master_df = master_df[master_df['review_scores_rating'].notnull()]
master_df["id"].count()

4081

In [15]:
master_df.describe()
#All of this description is based on properties with more than one listing
#Average review score rating is 96.7
#There are 4081 total listings available in Denver
#There are an average of 2.76 reviews per month

,id,scrape_id,thumbnail_url,medium_url,xl_picture_url,host_id,host_acceptance_rate,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,...,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,reviews_per_month
count,4.081000e+03,4.081000e+03,0.0,0.0,0.0,4.081000e+03,0.0,4081.000000,4081.000000,0.0,...,4081.000000,4081.000000,4081.000000,4081.000000,4081.000000,4081.000000,4081.000000,4081.000000,4081.000000,4081.000000
mean,1.681992e+07,2.018083e+13,NaN,NaN,NaN,5.656449e+07,NaN,14.913747,14.913747,NaN,...,44.991179,96.720412,9.848812,9.755207,9.916197,9.908846,9.776035,9.732173,2.787552,2.923362
std,7.236108e+06,2.246369e+00,NaN,NaN,NaN,5.540312e+07,NaN,114.689232,114.689232,NaN,...,60.871819,4.390386,0.451500,0.540164,0.348435,0.364507,0.468439,0.527728,5.896011,2.479412
min,3.600000e+02,2.018083e+13,NaN,NaN,NaN,6.660000e+02,NaN,0.000000,0.000000,NaN,...,2.000000,47.000000,4.000000,5.000000,5.000000,5.000000,6.000000,5.000000,1.000000,0.030000
25%,1.233622e+07,2.018083e+13,NaN,NaN,NaN,1.165800e+07,NaN,1.000000,1.000000,NaN,...,8.000000,95.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000,0.900000
50%,1.853544e+07,2.018083e+13,NaN,NaN,NaN,3.613442e+07,NaN,1.000000,1.000000,NaN,...,22.000000,98.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000,2.320000
75%,2.251358e+07,2.018083e+13,NaN,NaN,NaN,8.713604e+07,NaN,2.000000,2.000000,NaN,...,57.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,2.000000,4.310000
max,2.780639e+07,2.018083e+13,NaN,NaN,NaN,2.093911e+08,NaN,1135.000000,1135.000000,NaN,...,678.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,45.000000,17.770000

In [16]:
master_df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       'notes', 'transit', 'access', 'interaction', 'house_rules',
       'thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url',
       'host_id', 'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url',
       'host_picture_url', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'street',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'is_business_travel_ready', 'cancellation_policy',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'calculated_host_listings_count', 'reviews_per_month'],
      dtype='object')

In [29]:
df.dtypes
df_group = df.groupby('neighbourhood_cleansed')
df_group['id'].count().sort_values(ascending = False)

neighbourhood_cleansed
Five Points                     459
Highland                        336
Capitol Hill                    278
Speer                           172
Sunnyside                       157
CBD                             154
West Highland                   148
Union Station                   142
Whittier                        132
Lincoln Park                    125
Baker                           124
West Colfax                     120
Berkeley                        120
City Park West                  120
Congress Park                   115
Sloan Lake                      115
Stapleton                       107
Jefferson Park                  104
Cheesman Park                    97
Gateway - Green Valley Ranch     97
North Capitol Hill               80
Cole                             78
Washington Park West             77
Platt Park                       74
Clayton                          73
North Park Hill                  65
Northeast Park Hill              52
University                       50
Virginia Village                 49
Hale                             48
                               ...
Overland                         28
East Colfax                      26
Cory - Merrill                   25
Montbello                        24
Windsor                          24
Mar Lee                          23
Rosedale                         23
Barnum West                      22
Ruby Hill                        22
Lowry Field                      20
Indian Creek                     19
Westwood                         16
Country Club                     16
Marston                          16
Belcaro                          16
Southmoor Park                   15
Globeville                       14
Goldsmith                        13
Harvey Park                      12
Valverde                         11
College View - South Platte      10
Fort Logan                       10
Harvey Park South                 9
Wellshire                         6
Bear Valley                       6
Auraria                           6
Sun Valley                        3
DIA                               3
Kennedy                           2
Elyria Swansea                    2
Name: id, Length: 78, dtype: int64